<!DOCTYPE html>
<html>
  <head>
    <title>My Page</title>
    <style type="text/css">
    /* My styling goes here*/
    </style>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
    <div id="content">
      <h1.logo Just Do It!>
      <%= yield %>
    </div>
  </body>
</html>